dmsComponentsTest/src/main/resources/wsdls/99 Assembled adapters 3.2.8.11/DMS.core Tariff Reference/messages_20111130/messages_20111130.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema elementFormDefault="qualified" targetNamespace="http://tariff.core.ecf/messages/2011/11/30/" version="3.0.5" xmlns:tns="http://serviceobjects.cmm.core.ecf/2011/11/30/" xmlns:tns_1="http://declarationobjects.cmm.core.ecf/2011/11/30/" xmlns:tns_2="http://partyobjects.cmm.core.ecf/2011/11/30/" xmlns:tns_3="http://valueobjects.cmm.core.ecf/2011/11/30/" xmlns:tns_4="http://codelistelements.cmm.core.ecf/2011/11/30/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd_1="http://tariff.core.ecf/messages/2011/11/30/">
  <xsd:import namespace="http://codelistelements.cmm.core.ecf/2011/11/30/" schemaLocation="../CMM_20111130/cmmCodeListTypes/cmmCodeListTypes.xsd"/>
  <xsd:import namespace="http://valueobjects.cmm.core.ecf/2011/11/30/" schemaLocation="../CMM_20111130/cmmValueTypes/cmmValueTypes.xsd"/>
  <xsd:import namespace="http://partyobjects.cmm.core.ecf/2011/11/30/" schemaLocation="../CMM_20111130/cmmPartyTypes/cmmPartyTypes.xsd"/>
  <xsd:import namespace="http://declarationobjects.cmm.core.ecf/2011/11/30/" schemaLocation="../CMM_20111130/cmmDeclarationTypes/cmmDeclarationTypes.xsd"/>
  <xsd:import namespace="http://serviceobjects.cmm.core.ecf/2011/11/30/" schemaLocation="../CMM_20111130/cmmServiceTypes/cmmServiceTypes.xsd"/>
  <xsd:complexType name="TariffQuotaResponse">
    <xsd:annotation>
      <xsd:documentation>Tariff Quota Reponse message</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="signals" type="tns:Signal">
            <xsd:annotation>
              <xsd:documentation>The error (if any), included in the service response, that was encountered while processing the service request</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="declaration" type="xsd_1:Declaration">
            <xsd:annotation>
              <xsd:documentation>Declaration with additional relations: consignmentShipment(s)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Declaration">
    <xsd:complexContent>
      <xsd:extension base="tns_1:Declaration">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="consignmentShipments" type="xsd_1:ConsignmentShipment">
            <xsd:annotation>
              <xsd:documentation>ConsignmentShipment with additional relations: consignee, goodsItem(s), Country of final destination, Office of entry,
Office of exit </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="parties" type="xsd_1:PartyRole">
            <xsd:annotation>
              <xsd:documentation>Party playing a role in Tariff:

The declarant/representative (UNTDID 3035 Party function code 'DT') </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="customsOffices" type="xsd_1:CustomsOfficeRole">
            <xsd:annotation>
              <xsd:documentation>Customs Office playing a role in Tariff:

Office of lodgement  (WCO ID 065 / SAD box A)		(UNTDID 3227 Location function qualifier '96')

</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConsignmentShipment">
    <xsd:complexContent>
      <xsd:extension base="tns_1:ConsignmentShipment">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="parties" type="xsd_1:PartyRole">
            <xsd:annotation>
              <xsd:documentation>Party playing a role in Tariff:

Consignee/addressee   (in WCO message/SAD box 8)  (UNTDID 3035 Party function code 'CN')
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="goodsItems" type="xsd_1:GoodsItem">
            <xsd:annotation>
              <xsd:documentation>Goodsitem with additional relations: additional document(s), quota, country of origin, dutyTaxFee(s), commodity,
reliefTreatment(s) </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="countryRegions" type="tns_1:CountryRegionRole">
            <xsd:annotation>
              <xsd:documentation>The countries and -possibly- regions that play a particular role in the context of the consignment shipment for Tariff:

-	Country of dispatch/export (in WCO GoodsShipment.ExportationCountryCode/in SAD box 15) -&gt; eCF countryRegionRoleType.code '2': Country/Region of export ('dispatch' from the perspective of the importing country/'export' from the perspective of the exporting country) 
-	Country / region of ultimate destination  (in WCO GoodsShipment.DeliveryDestinationParty.Address.CountryCode/in SAD box 17) -&gt; eCF countryRegionRoleType.code '5': Country/Region of final destination 

</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="customsOffices" type="xsd_1:CustomsOfficeRole">
            <xsd:annotation>
              <xsd:documentation>Customs Office playing a role in Tariff:

Office of entry (WCO EntryOffice/ in SAD box 29) -&gt;  CustomsOfficeRoleType (UNTDID 3227 Location function qualifier): '41' Consignment entry customs office location
Office of exit (WCO ExitOffice/in SAD box 29) -&gt;  CustomsOfficeRoleType (UNTDID 3227  Location function qualifier) '42' Consignment exit customs office location
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CustomsOfficeRole">
    <xsd:complexContent>
      <xsd:extension base="tns_1:CustomsOfficeRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="customsOfficeID" type="tns_2:PartyIdentification">
            <xsd:annotation>
              <xsd:documentation>ID of the customsOffice playing the role in the involved context</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GoodsItem">
    <xsd:complexContent>
      <xsd:extension base="tns_1:GoodsItem">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="additionalDocuments" type="tns_1:AdditionalDocument">
            <xsd:annotation>
              <xsd:documentation>References to documents that pertain to the declaration goods item, as specified in sub field 2 of SAD box 44. 

NOTE: examples are a certificates of origin, import certificates, export certificates etc.
                                            </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="dutyTaxFees" type="tns_1:DutyTaxFee">
            <xsd:annotation>
              <xsd:documentation>The duty/tax/fee applicable to the goods item as calculated by DMS

WCO ID:       -
WCO NAME:    DutyTaxFee
WCO DESC:    Calculation one instance one duty, one tax, one fee
            Comment: Each instance of this class is to be used for a single occurence of a duty, tax or fee 
NOTE:          Used to store the data calculated by DMS (as opposed to those included the declaration)   </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="quota" type="tns_1:Quota">
            <xsd:annotation>
              <xsd:documentation>The quota requested for this declaration goods item as specified in SAD box 39.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="countryRegions" type="tns_1:CountryRegionRole">
            <xsd:annotation>
              <xsd:documentation>Country playing a role in Tariff:

Country / region of origin (in WCO GovernmentAgencyGoodsItem.Origin /in SAD box 34a) -&gt; eCF countryRegionRoleType.code '3': Country/Region of origin 
</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="commodity" type="tns_1:Commodity">
            <xsd:annotation>
              <xsd:documentation>Identification of the commodity class to which this goods item belong as specified in SAD box 33. 

WCO ID: -
WCO NAME: Commodity
WCO DESC: Details about the properties of the goods. </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="dutyTaxFeeMeasures" type="xsd_1:DutyTaxFeeMeasure">
            <xsd:annotation>
              <xsd:documentation>The duty/tax/fee measures (if any) applied to calculate the goods item duty/tax/fees</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="procedureTreatments" type="tns_1:ProcedureTreatment">
            <xsd:annotation>
              <xsd:documentation>The type(s) of relief (if any) to be applied to the goods item tax 

NOTE:  
Relief treatment objects are defined per combination of requested, previous and special procedure (ProcedureCombinationTreatment.ReliefTreatment)
The objects are captured and persisted at goods item level for 2 reasons:
a) to have a placeholder for the relief codes in the canonical message model (the XML representation of the Declaration used in service requests) and
b) to retain the actually applied relief should the relief code(s) for the involved procedure combination change later.      </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="customsValue" type="tns_1:CustomsValue">
            <xsd:annotation>
              <xsd:documentation>The value of the declaration goods items derived by the DMS process from other attributes in the declaration</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="PartyRole">
    <xsd:complexContent>
      <xsd:extension base="tns_1:PartyRole">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="partyIdentification" type="tns_2:PartyIdentification">
            <xsd:annotation>
              <xsd:documentation>ID of the party playing the role in the involved context </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TariffRequest">
    <xsd:annotation>
      <xsd:documentation>Request to a Tariff Management Service used to validate a declaration for Tariff, calculate the taxes, duties and fees (potentially) payable for the declaration goods items, to request allocation of a quota for one or more goods and to send declaration data to Surveillance/Antidumping. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="referenceDate" type="tns_3:DateTime">
            <xsd:annotation>
              <xsd:documentation>The reference date (sample date) to use for the tariff request. Should be provided for Tariff validation and Duty calculation </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="declarationAcceptanceDate" type="tns_3:DateTime">
            <xsd:annotation>
              <xsd:documentation>Date on which a Goods declaration has been accepted by Customs in accordance with Customs legislation</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="defaultCurrencyType" type="tns_4:CurrencyType">
            <xsd:annotation>
              <xsd:documentation>The default currency to use for duties</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="declaration" type="xsd_1:Declaration">
            <xsd:annotation>
              <xsd:documentation>Declaration with additional relations: consignmentShipment(s), submitter and declarant </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TariffValidationResponse">
    <xsd:annotation>
      <xsd:documentation>Tariff validation reponse message</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="validationResults" type="xsd_1:ValidationResult">
            <xsd:annotation>
              <xsd:documentation>The validation results included in this validation response.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ValidationResult">
    <xsd:complexContent>
      <xsd:extension base="tns:ValidationResult">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="information" type="tns:ValidationInformation">
            <xsd:annotation>
              <xsd:documentation>Additional information associated with the validation result</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TariffCalculationResponse">
    <xsd:annotation>
      <xsd:documentation>Tariff calculation reponse message</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="signals" type="tns:Signal">
            <xsd:annotation>
              <xsd:documentation>The error (if any), included in the service response, that was encountered while processing the service request</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="declaration" type="xsd_1:Declaration">
            <xsd:annotation>
              <xsd:documentation>Declaration with additional relations: consignmentShipment(s)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DutyTaxFeeMeasure">
    <xsd:complexContent>
      <xsd:extension base="tns_1:DutyTaxFeeMeasure">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="footnotes" type="tns_1:Footnote">
            <xsd:annotation>
              <xsd:documentation>The footnote(s) belonging to this measure.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="securities" type="tns_1:Security">
            <xsd:annotation>
              <xsd:documentation>Amounts (if any) that need to be reserved as a security to ensure payment should the duty/tax/fee component related to the measure for this goods item turn out to be higher than what is to be expected on the basis of the declaration</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="dutyTaxFees" type="tns_1:DutyTaxFee">
            <xsd:annotation>
              <xsd:documentation>The duty/tax/fee components that result from applying the measure to the goods items.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TariffSurveillanceResponse">
    <xsd:annotation>
      <xsd:documentation>Tariff Quota Reponse message</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="signals" type="tns:Signal">
            <xsd:annotation>
              <xsd:documentation>The error (if any), included in the service response, that was encountered while processing the service request</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ReferenceDataRequest">
    <xsd:annotation>
      <xsd:documentation>Generic Request for validating a
    code list
    or requesting a code list element.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" name="codes" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The code of the element to retrieve.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="referenceDate" type="tns_3:DateTime">
            <xsd:annotation>
              <xsd:documentation>The reference date to use.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="languageCode" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>The language code for the information to retrieve.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ReferenceDataResponse">
    <xsd:annotation>
      <xsd:documentation>Returns a list of code list elements that
    meet the criteria of a codeListRequest.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="signals" type="tns:Signal">
            <xsd:annotation>
              <xsd:documentation>A signal related to the retrieval of details for some code</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="codeListElements" type="tns_4:CodeListElement">
            <xsd:annotation>
              <xsd:documentation>The element retrieved for a code</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="FinalDutyDecision">
    <xsd:annotation>
      <xsd:documentation>Response message containing final measures. </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:Event">
        <xsd:sequence>
          <xsd:element form="qualified" name="type" type="tns_4:DutyDecisionType">
            <xsd:annotation>
              <xsd:documentation>Type of the decision </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" name="dutyTaxFeeMeasures" type="tns_1:DutyTaxFeeMeasure">
            <xsd:annotation>
              <xsd:documentation>Provisional measure(s) that became final (i.e. are closed).</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="effectiveDate" type="tns_3:DateTime">
            <xsd:annotation>
              <xsd:documentation>Date at which the final duty decision becomes effective.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NomenclatureGroupsResponse">
    <xsd:annotation>
      <xsd:documentation>Message to return the found nomenclature groups for one or more requested commodity codes</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceResponse">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="commodities" type="xsd_1:CommodityWithNG">
            <xsd:annotation>
              <xsd:documentation>The commodity with its code and the related nomenclature groups</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="signals" type="tns:Signal">
            <xsd:annotation>
              <xsd:documentation>A signal related to the retrieval of details for some code</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CommodityWithNG">
    <xsd:annotation>
      <xsd:documentation>Contains the commodity code with its related nomenclature groups</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="code" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>The commodity code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="nomenclatureGroups" type="tns_4:CodeListElement">
        <xsd:annotation>
          <xsd:documentation>A nomenclature group belonging to a commodity code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TariffMeasureCompletion">
    <xsd:annotation>
      <xsd:documentation>Event containing a reference to the measure or commodity code that has been completed</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:Event">
        <xsd:sequence>
          <xsd:element form="qualified" minOccurs="0" name="reference" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Nomenclature reference to the measure or commodity code that has been completed</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>