dmsComponentsTest/src/main/resources/wsdls/99 Assembled adapters 3.2.8.11/DMS.core Control Management/cmm_20180507/cmmServiceTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://cmm.core.ecf/BaseTypes/cmmServiceTypes/inspection/2018/05/07/" version="2.0" xmlns:tns="http://cmm.core.ecf/BaseTypes/cmmServiceTypes/inspection/2018/05/07/" xmlns:tns_1="http://cmm.core.ecf/BaseTypes/cmmCodeListTypes/inspection/2018/05/07/" xmlns:tns_2="http://cmm.core.ecf/BaseTypes/cmmValueTypes/inspection/2018/05/07/" xmlns:tns_3="http://cmm.core.ecf/BaseTypes/cmmEnhancementTypes/inspection/2018/05/07/">
  <xsd:import namespace="http://cmm.core.ecf/BaseTypes/cmmEnhancementTypes/inspection/2018/05/07/" schemaLocation="cmmEnhancementTypes.xsd"/>
  <xsd:import namespace="http://cmm.core.ecf/BaseTypes/cmmValueTypes/inspection/2018/05/07/" schemaLocation="cmmValueTypes.xsd"/>
  <xsd:import namespace="http://cmm.core.ecf/BaseTypes/cmmCodeListTypes/inspection/2018/05/07/" schemaLocation="cmmCodeListTypes.xsd"/>
  <xsd:complexType name="ServiceRequest">
    <xsd:annotation>
      <xsd:documentation>Object capturing the data about a request made from within the DMS to an external of internal service NOTE 1: 	abstract class serving as parent to concrete service requests. NOTE 2:	ServiceRequest (and its sub types) inherit from class Extendable to allow for the possibility to capture certain external service data elements 			(i.e. Prisma in NL) that do not merit a ligitimate place in the RA object structure that but need to be persisted in the DWH. </xsd:documentation>
      <xsd:documentation>Related objects: responses(ServiceResponse) [0..*] declaration(Declaration) [1..1] </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="status" type="tns_1:ServiceRequestStatusType">
        <xsd:annotation>
          <xsd:documentation>The status of the service request (if relevant for the involved service) NOTE: possible values: 22: Cancelled 24: Pending 25: Responded</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="id" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>ID by which this request is identified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sequenceNumber" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Number indicating the sequence in which this request was issued in the order of requests of this particular type for this particular declaration/goods item. NOTE: the sequence number is unique per service request type / declaration</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="timeStamp" type="tns_2:DateTime">
        <xsd:annotation>
          <xsd:documentation>The time at which the request was submitted.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="externalId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>External ID by which this request is identified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ControlTask">
    <xsd:annotation>
      <xsd:documentation>Unit of work, assigned to a control agent involving the inspection of a declaration document(s) and/or the involved goods, generated as the result of risk assessment or created manually by a customs officer. NOTE: 	a Controltask is created for each Risk Assessment Result unless risk assessment is performed again and no difference (in the involved control instructions) was established between this result and the former (if any)</xsd:documentation>
      <xsd:documentation>Related objects: controlResult(ControlResult) [0..*] riskAssessmentResult(RiskAssessmentResult) [1..1] manuallyRaisedControlInstructions(ManuallyRaisedControlInstruction) [0..*] </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns_3:Task">
        <xsd:sequence>
          <xsd:element name="controlType" type="tns_1:ControlType">
            <xsd:annotation>
              <xsd:documentation>The type of control being performed in this task NOTE: possible values 'document control', 'physical control' or 'undetermined'</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="finalResultLimitDate" type="tns_2:DateTime">
            <xsd:annotation>
              <xsd:documentation>Date and time by when the final control result has to be received WCO REF: 264 WCO NAME: Limit date WCO DESC: Date and time by when the inspection has to be completed</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="firstResultLimitDate" type="tns_2:DateTime">
            <xsd:annotation>
              <xsd:documentation>Date and time by when the first control result has to be received WCO REF: 264 WCO NAME: Limit date WCO DESC: Date and time by when the inspection has to be completed</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="status" type="tns_1:ControlTaskStatusType">
            <xsd:annotation>
              <xsd:documentation>The processing status of the control task (e.g.: initiated, requested, finished)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="isBlockingRelease" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Indicator telling whether the control task is blocking for the release of the declared goods.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ControlMeans">
    <xsd:annotation>
      <xsd:documentation>The tool, equipment or other resource with which control is to be performed</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="type" type="tns_1:ControlMeansType">
        <xsd:annotation>
          <xsd:documentation>The type of tool or equipment with which control is to be performed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ManuallyRaisedControlInstruction">
    <xsd:annotation>
      <xsd:documentation>Control instruction raised by a customs official</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ControlInstruction"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Risk">
    <xsd:annotation>
      <xsd:documentation>A risk identified by a Risk Assessment Service</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="extensions" type="tns_3:Extension">
        <xsd:annotation>
          <xsd:documentation>The extensions associated with this extendable object.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="isConfirmed" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicator telling that the identified risk has actually materialized (confirmed to be real) NOTE:	false by default -&gt; if true it is indicated by the customs official when taking the customs position</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="internationalRiskCode" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Code by which the risk is identified by an international or supranational organization such as WCO or EU.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="directive" type="tns_2:Text">
        <xsd:annotation>
          <xsd:documentation>Directive telling how the involved risk shall be mitigated</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="area" type="tns_1:RiskAreaType">
        <xsd:annotation>
          <xsd:documentation>The area of risk</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="description" type="tns_2:Text">
        <xsd:annotation>
          <xsd:documentation>Text describing the risk in terms of the hit risk profile</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="score" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>The level of risk associated with the risk profile for this particular risk assessment result NOTE: the scale at which the score is measured is assumed to be known to the user (i.e. the score is an absolute, not a relative value)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="profileId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Id of the associated risk profile </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AutomaticallyRaisedControlInstruction">
    <xsd:annotation>
      <xsd:documentation>Control instruction raised by the Risk Assessment Service</xsd:documentation>
      <xsd:documentation>Related objects: identifiedRisks(Risk) [0..*] </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ControlInstruction"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ControlInstruction">
    <xsd:annotation>
      <xsd:documentation>Authoritative directions furnished by the person (in case of additional control) or system (in case of a risk assessment result) with respect to the control to be performed.</xsd:documentation>
      <xsd:documentation>Related objects: source(User) [1..1] additionalDocument(AdditionalDocument) [0..1] controlMeans(ControlMeans) [0..*] </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="extensions" type="tns_3:Extension">
        <xsd:annotation>
          <xsd:documentation>The extensions associated with this extendable object.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="involvesNotifyingDeclarant" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicator telling whether the declarant needs to be informed about the control to be performed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="text" type="tns_2:Text">
        <xsd:annotation>
          <xsd:documentation>Text explaining the control instruction</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element maxOccurs="unbounded" name="reportBackElements" type="tns_2:Pointer">
        <xsd:annotation>
          <xsd:documentation>The data element(s) in the declaration (goods item) subject to control and about which the observation must be reported back NOTE: a single control instruction will have one and only one 'object of control', which may be the declaration (header), a consignment/shipment or a goods item. Ther may be multiple report back elements (refered to with a pointer) per 'object of control'. NOTE 2: The pointer will have the object on which control will be requested as context, e.g. the pointer could look like "/declaration/..." if a "declaration" element will be input for control.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CashDepositPayupSubscription">
    <xsd:annotation>
      <xsd:documentation>Request to be informed about payup of a cash deposit</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest">
        <xsd:sequence>
          <xsd:element name="declarationReference" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Id of the declaration for which he cash deposit payup signal is requested.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="primaryFinancialResponsiblePartyId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Id of the party that is the primary responsible party for paying the customs debt NOTE:	the primary responsible party is the importer</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="secondaryFinancialResponsiblePartyId" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Id of the party that is the secondary responsible party (if any) for paying the customs debt NOTE:	the secondary responsible party is the indirect representative if included in the declaration</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TariffQuotaRequest">
    <xsd:annotation>
      <xsd:documentation>Request to the Quota Handling Service (QHS) to draw, change or return a tariff quota for a specific declaration goods item. NOTE:	the QHS can handle quota drawing, update and return with the same call (the difference being identified through the request sequence number and the amendments attached to the declaration that is being passed as the service target</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="NotificationInstruction">
    <xsd:annotation>
      <xsd:documentation>Instruction to a Notification Service to send a notification related to a declaration to an involved party.</xsd:documentation>
      <xsd:documentation>Related objects: notification(Notification) [1..1] </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AuthorizationReservationRequest">
    <xsd:annotation>
      <xsd:documentation>Object capturing the request to reserve a monetary amount and/or quantity on an authorization for a license certificate declared for one goods item</xsd:documentation>
      <xsd:documentation>Related objects: goodsClassifications(AuthorizationGoodsClassification) [0..*] </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest">
        <xsd:sequence>
          <xsd:element name="authorizationId" type="tns_2:ReferenceNumber">
            <xsd:annotation>
              <xsd:documentation>The identification of the authorization to reserve on</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="declarationReference" type="tns_2:ReferenceNumber">
            <xsd:annotation>
              <xsd:documentation>Id of the declaration for which the authorization reservation is requested.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="consignmentShipmentNumber" type="xsd:integer">
            <xsd:annotation>
              <xsd:documentation>The sequence number of the consignment/shipment for which the reservation is requested</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="goodsItemNumber" type="xsd:integer">
            <xsd:annotation>
              <xsd:documentation>The sequence number of the goods item for which the reservation is requested</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="requestedAmount" type="tns_2:MonetaryAmount">
            <xsd:annotation>
              <xsd:documentation>The monetary amount requested to reserve on an authorization (i.e. in total for a license certificate declared for one goods item)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="requestedQuantity" type="tns_2:Quantity">
            <xsd:annotation>
              <xsd:documentation>The quantity requested to reserve on an authorization (i.e. in total for a license certificate declared for one goods item)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="reservedAmount" type="tns_2:MonetaryAmount">
            <xsd:annotation>
              <xsd:documentation>The monetary amount reserved on an authorization (i.e. in total for a license certificate declared for one goods item)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="reservedQuantity" type="tns_2:Quantity">
            <xsd:annotation>
              <xsd:documentation>The quantity reserved on an authorization (i.e. in total for a license certificate declared for one goods item)</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="isExported" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Indicator telling whether the goods item is exported from or imported into the customs area.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="countryOfOrigin" type="tns_1:CountryType">
            <xsd:annotation>
              <xsd:documentation>The country of origin of the goods for which the reservation is requested</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="countryOfExportation" type="tns_1:CountryType">
            <xsd:annotation>
              <xsd:documentation>The country of exportation (or dispatch) of the goods for which the reservation is requested</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="countryOfFinalDestination" type="tns_1:CountryType">
            <xsd:annotation>
              <xsd:documentation>The country of final destination of the goods for which the reservation is requested</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="RiskAssessmentRequest">
    <xsd:annotation>
      <xsd:documentation>Request to the Risk Assessment Service to determine the risk related to a declaration and its goods items.</xsd:documentation>
      <xsd:documentation>Related objects: validationResults(ValidationResult) [0..*] </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ControlRequest">
    <xsd:annotation>
      <xsd:documentation>Request to a Control Service to forward control tasks to the appropriate control agents.</xsd:documentation>
      <xsd:documentation>Related objects: controlTask(ControlTask) [1..1] </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="SurveillanceRequest">
    <xsd:annotation>
      <xsd:documentation>Request to the Surveillance Reporting Service (Surveillance / Antidumping) to create, change or delete statistics for a set of declaration goods items.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ExitResultMessage">
    <xsd:annotation>
      <xsd:documentation>Message including the result of control, performed at the office(s) of exit, of goods intended to be exported. NOTE: the ExitControlMessage is used to capture the EU defined IE518 message</xsd:documentation>
      <xsd:documentation>Related objects: results(ExitControlResult) [0..*] exitStatus(GoodsExitStatus) [0..1] goodsItemDetails(ExitGoodsItemDetails) [0..*] </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ExitMessage">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="overallControlResult" type="tns_1:OverallControlResultType">
            <xsd:annotation>
              <xsd:documentation>The overall exit control result (pertaining to all the items of the declaration) - if any</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="stateOfSeals" type="tns_1:ExitSealsStateType">
            <xsd:annotation>
              <xsd:documentation>Code, denoting the state of the container seals as observed during exit control.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="goodsExitedForTransit" type="xsd:boolean">
            <xsd:annotation>
              <xsd:documentation>Indicating whether the goods have been exited for transit</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ExitMessage">
    <xsd:annotation>
      <xsd:documentation>Base of all (request) messages exchanged with an office of exit</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="declarationReference" type="tns_2:ReferenceNumber">
            <xsd:annotation>
              <xsd:documentation>Reference number of the declaration included in the exit message</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="type" type="tns_1:ExitMessageType">
            <xsd:annotation>
              <xsd:documentation>The type of the exit message</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element minOccurs="0" name="customsOfficeId" type="tns_1:CustomsOfficeCode">
            <xsd:annotation>
              <xsd:documentation>ID of the exit customs office from/to which the exit message was received/sent </xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="memberState" type="tns_1:CountryType">
            <xsd:annotation>
              <xsd:documentation>The involved member state</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DutyCalculationRequest">
    <xsd:annotation>
      <xsd:documentation>Request to the Tariff Calculation Service (TMS/C) to calculate the taxes, duties and fees (potentially) payable for the declaration goods items</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ArchivingInstruction">
    <xsd:annotation>
      <xsd:documentation>Instruction to an archiving service to file the declaration dossier, consisting of the 'Basic Declaration' as received from the declarant including additional data produced during declaration processing NOTE:	The BOM data elements that make up the Basic Declaration and the full Declaration dossier are captured in the BomDataElement class. </xsd:documentation>
      <xsd:documentation>Related objects: dossier(Dossier) [1..1] </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AccountsReceivableNotification">
    <xsd:annotation>
      <xsd:documentation>Notification by which Accounts Receivable is infomed about an incurred customs debt that must be booked.</xsd:documentation>
      <xsd:documentation>Related objects: accountingEntries(AccountingEntry) [1..*] </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DeclarationValidationRequest">
    <xsd:annotation>
      <xsd:documentation>Request to a generic eCustoms Framework Declaration Validation Service (DVS). DVS  is a composite service which internally levarages the Tariff Validation Service to perform Tariff related validations</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CoverageRequest">
    <xsd:annotation>
      <xsd:documentation>Request to the to tell whether the customs debt for the involved declaration is covered. NOTE 1:   if the request includes one or more GRNs (Guarantee Reference number), the Handle Coverage process is assumed to check the coverage against the guarantee identified by those GRNs such that the involved obligation guarantees are assumed to cover the coverage amount for which they are dedicated. If no GRN is included, GMS will check the coverage against the other coverage means which the financial responsible party may possess with the involved Customs Agency </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DeclarationPublicationRequest">
    <xsd:annotation>
      <xsd:documentation>Request to publish or forward a declaration to an external party that has subscribed to being informed about a relevant event regarding a declaration</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest">
        <xsd:sequence>
          <xsd:element name="topic" type="tns_1:TopicType">
            <xsd:annotation>
              <xsd:documentation>The topic of the event that triggered publication/forwarding of the declaration</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="GuaranteePayupSubscription">
    <xsd:annotation>
      <xsd:documentation>Request to be informed about payup of a transaction based guarantee.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="tns:ServiceRequest">
        <xsd:sequence>
          <xsd:element name="declarationReference" type="xsd:string">
            <xsd:annotation>
              <xsd:documentation>Id of the declaration for which the guarantee payup signal is requested</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="grn" type="tns_2:GRN">
            <xsd:annotation>
              <xsd:documentation>ID of the guarantee for which a payup signal is requested</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="amount" type="tns_2:MonetaryAmount">
            <xsd:annotation>
              <xsd:documentation>The amount expected to be paid up to clear the deficit NOTE: derived from the deficit attribute of the involved guarantee.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="ServiceResponse">
    <xsd:annotation>
      <xsd:documentation>The response of a service request.</xsd:documentation>
      <xsd:documentation>Related objects: signals(Signal) [0..*] </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="extensions" type="tns_3:Extension">
        <xsd:annotation>
          <xsd:documentation>The extensions associated with this extendable object.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="sequenceNumber" type="xsd:integer">
        <xsd:annotation>
          <xsd:documentation>Number indicating the sequence in the set of responses to the associated request. NOTE: a sequence number is relevant in case there are more than one response to the same request.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="request" type="tns:ServiceRequest">
        <xsd:annotation>
          <xsd:documentation>The service request to which this service response is a reaction.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="id" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>Identifier by which this response is identified</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="timeStamp" type="tns_2:DateTime">
        <xsd:annotation>
          <xsd:documentation>The time at which the response was received</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="isFinal" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicator telling whether the response is a final response. NOTE: this flag is relevant in case there are more than one response to the same request.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="externalId" type="xsd:string">
        <xsd:annotation>
          <xsd:documentation>External ID by which this response is identified.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ControlResult">
    <xsd:annotation>
      <xsd:documentation>Outcome of an inspection performed in the context of a control task as dictated by a control instruction, including the conclusion drawn by Customs from these observations NOTE: The conclusion usually follows a classification system based on the severity of the findings e.g. (A1,A2,B1) etc. </xsd:documentation>
      <xsd:documentation>Related objects:
controlTask(ControlTask) [1..1]
actor(User) [1..1]
observations(Observation) [0..*]
manuallyRaisedControlInstructions(ManuallyRaisedControlInstruction) [0..*]</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="type" type="tns_1:ControlResultType">
        <xsd:annotation>
          <xsd:documentation>The type of control result, i.e. whether control was actually performed or not (in case documents were not presented in time or goods were no longer available) </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="indicatesManualCustomsPosition" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicator telling that the control result requires a manual customs position to be taken. NOTE: the indicator may be set in case of: -	a situation in which the goods may be released based on a provisional control resutl but additional security is needed to cover a situation that the final control yields 			a non comformant result -	control establishing a non-conformant situation that won't lead to a correction (e.g. cadmimum found) </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="indicatesManualCorrection" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicator telling whether this control result entails the need to manually correct the declaration.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="externalExplanation" type="tns_2:Text">
        <xsd:annotation>
          <xsd:documentation>Free text explanation of the control result for external  use (e.g. the involved trader) entered by the controlling officer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="wasObtainedInDeclarantsPresence" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicator telling whether the declarant was present during the (physical) control.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="identificationMeans" type="tns_1:IdentificationMeansType">
        <xsd:annotation>
          <xsd:documentation>Means of identification used during control (Article 247 lid 3 CCIP) NOTE: 	the involved article reads: 3. The findings of the customs authorities shall indicate, where appropriate, the means of identification adopted. They shall be dated and bear the particulars needed to identify the official issuing them. TC : This is interpreted as being the means of identifying the customs official within the customs authority. However where it is appropriate to include the ID is a moot point. Within transit the OoDep merely needs to know the OoDes returning the control results, but for an internal declaration control at OoDep in transit, or for an import it might very well be deemed appropriate to be able to identify the officer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="isProcessed" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicator telling whether a Customs Position was determined for the control result Note: Initialized to false, updated to true when a customs position is taken </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isFinal" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicator telling whether the control result is final</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="assessmentType" type="tns_1:ControlResultAssessmentType">
        <xsd:annotation>
          <xsd:documentation>The extent of discrepancy (if any) of the control result with the declared value NOTE: 	possible values: NULL is the result has not yet been assessed 1: No discrepancy 2: Minor discrepancy 3: Possible discrepancy 4: major discrepancy 5: Unable to determine</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="opposition" type="tns_1:OppositionType">
        <xsd:annotation>
          <xsd:documentation>Information about the declarant's reaction (opposition) to the control result. NOTE: possible values: agreed, opposed, not registered, no advise (see documentation of related code list element class)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isBlockingRelease" type="xsd:boolean">
        <xsd:annotation>
          <xsd:documentation>Indicator, set by DMS or the customs official registering the result, telling whether the control result is blocking for the release of the declared goods.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="determinationDate" type="tns_2:DateTime">
        <xsd:annotation>
          <xsd:documentation>The official date the control has taken place and the result has been determined (CCIP article 247 paragraph 3)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="internalExplanation" type="tns_2:Text">
        <xsd:annotation>
          <xsd:documentation>Free text explanation of the control result for internal use, entered by the controlling officer.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Observation">
    <xsd:annotation>
      <xsd:documentation>The facts on which a control result iis based</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="actionType" type="tns_1:ObservationActionType">
        <xsd:annotation>
          <xsd:documentation>The type of action (indicated by the user in the UI of the human task to handle observations) to be performed with regards to the observation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="text" type="tns_2:Text">
        <xsd:annotation>
          <xsd:documentation>Free text, if any, describing or explaining the observation</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="value" type="xsd:anyType">
        <xsd:annotation>
          <xsd:documentation>The observed value. This can only be a simple type</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="reportBackElement" type="tns_2:Pointer">
        <xsd:annotation>
          <xsd:documentation>The data element in the declaration about which the observation was made and which is reported back NOTE: The pointer will have the object on which control has been requested as context, e.g. the pointer could look like "/declaration/..." if a "declaration" element was the object for control.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>