dmsComponentsTest/src/main/resources/wsdls/99 Assembled adapters 3.2.8.11/DMS.core Exit Management/xsd/CC507A.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://ecs.dgtaxud.ec/CC507A" xmlns:complex_ecs="http://ecs.dgtaxud.ec/complex_ecs" xmlns:simple_ecs="http://ecs.dgtaxud.ec/simple_ecs" xmlns:tcl_ecs="http://ecs.dgtaxud.ec/tcl_ecs" xmlns:simple="http://ecs.dgtaxud.ec/simple" xmlns:tcl="http://ecs.dgtaxud.ec/tcl" xmlns:doc="http://ecs.dgtaxud.ec/doc" targetNamespace="http://ecs.dgtaxud.ec/CC507A" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="40.20">
  <!--=========================================-->
  <!--===== IE507:E_ARR_EXT  -->
  <!--===== ARRIVAL AT EXIT  -->
  <!--===== ECS P2 Phase Definition  -->
  <!--===== DDNXA 11.00  -->
  <!--===== XSD version v40.20  -->
  <!--===== Aligned with RFC-List version 0.29-->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="http://ecs.dgtaxud.ec/doc" schemaLocation="doc.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/complex_ecs" schemaLocation="complex_types_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/simple_ecs" schemaLocation="simple_types_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/tcl_ecs" schemaLocation="tcl_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/simple" schemaLocation="simple_types.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/tcl" schemaLocation="tcl.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="CC507A" type="ie:CC507AType" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="CC507AType">
    <xs:sequence>
      <xs:group ref="ie:MESSAGE" />
      <xs:element name="HEAHEA" type="ie:HEAHEAType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ACEACE" type="ie:ACEACEType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(ACTUAL EXIT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAEXICAR" type="complex_ecs:TRAEXICARType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(EXIT CARRIER) TRADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="tcl_ecs:SyntaxIdentifier">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Syntax identifier" />
            <doc:codeList name="SyntaxIdentifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="tcl_ecs:SyntaxVersionNumber">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Syntax version number" />
            <doc:codeList name="SyntaxVersionNumber" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="simple:Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sender identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="simple:Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="simple:DatePrepType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="simple:TimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Interchange control reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient's reference/password" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="simple:Alphanumeric_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient's reference/password qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Application reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Acknowledgement request" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Communications agreement id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Test indicator" />
            <doc:rule name="TR9085" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="tcl_ecs:MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message type" />
            <doc:codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Common access reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumHEA5" type="simple:MRNType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CusSubPlaHEA66" type="simple:Alphanumeric_Max17" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Customs sub place" />
            <doc:rule name="R246" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrNotPlaHEA60" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Arrival notification place" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrNotPlaHEA60LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Arrival notification place LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrAgrLocCodHEA62" type="simple:Alphanumeric_Max17" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Arrival agreed Location code" />
            <doc:rule name="R246" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrAgrLocOfGooHEA63" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Arrival agreed Location of goods" />
            <doc:rule name="R246" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrAgrLocOfGooHEA63LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Arrival agreed Location of goods LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ArrNotDatHEA141" type="simple:DateType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Arrival notification date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DiaLanIndAtDesHEA255" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Dialog language indicator at destination" />
            <doc:rule name="R101" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StoFlaHEA1" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Storing flag" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AuthStorLocGoodHEA416" type="simple:Alphanumeric_Max17" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Authorised Storing Location of goods" />
            <doc:condition name="C156" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (ACTUAL EXIT) CUSTOMS OFFICE =====-->
  <xs:complexType name="ACEACEType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(ACTUAL EXIT) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumACE1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

