dmsComponentsTest/src/main/resources/wsdls/99 Assembled adapters 3.2.8.11/DMS.core Exit Management/xsd/CD501B.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://ecs.dgtaxud.ec/CD501B" xmlns:complex_ecs="http://ecs.dgtaxud.ec/complex_ecs" xmlns:simple_ecs="http://ecs.dgtaxud.ec/simple_ecs" xmlns:tcl_ecs="http://ecs.dgtaxud.ec/tcl_ecs" xmlns:simple="http://ecs.dgtaxud.ec/simple" xmlns:tcl="http://ecs.dgtaxud.ec/tcl" xmlns:doc="http://ecs.dgtaxud.ec/doc" targetNamespace="http://ecs.dgtaxud.ec/CD501B" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="40.20">
  <!--=========================================-->
  <!--===== IE501:C_AER_SND  -->
  <!--===== AER  -->
  <!--===== ECS P2 Phase Definition  -->
  <!--===== DDNXA 11.00  -->
  <!--===== XSD version v40.20  -->
  <!--===== Aligned with RFC-List version 0.29-->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="http://ecs.dgtaxud.ec/doc" schemaLocation="doc.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/complex_ecs" schemaLocation="complex_types_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/simple_ecs" schemaLocation="simple_types_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/tcl_ecs" schemaLocation="tcl_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/simple" schemaLocation="simple_types.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/tcl" schemaLocation="tcl.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="CD501B" type="ie:CD501BType" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="CD501BType">
    <xs:sequence>
      <xs:group ref="ie:MESSAGE" />
      <xs:element name="HEAHEA" type="ie:HEAHEAType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="HEADER" />
            <doc:rule name="R143" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRAEXPEX1" type="ie:TRAEXPEX1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(EXPORTER) TRADER" />
            <doc:condition name="C510" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCE1" type="ie:TRACONCE1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNEE) TRADER" />
            <doc:rule name="R011" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFEXPERT" type="complex_ecs:CUSOFFEXPERTType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(EXPORT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFEXIEXT" type="complex_ecs:CUSOFFEXIEXTType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(EXIT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CONRESERS" type="ie:CONRESERSType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="CONTROL RESULT" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SEAINFSLI" type="ie:SEAINFSLIType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="SEALS INFO" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GOOITEGDS" type="ie:GOOITEGDSType" maxOccurs="999">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="GOODS ITEM" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ITI" type="complex_ecs:ITIType" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="ITINERARY" />
            <doc:rule name="R877" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RISANA" type="complex_ecs:RISANAType" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="RISK ANALYSIS" />
            <doc:rule name="R819" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="tcl_ecs:SyntaxIdentifier">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Syntax identifier" />
            <doc:codeList name="SyntaxIdentifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="tcl_ecs:SyntaxVersionNumber">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Syntax version number" />
            <doc:codeList name="SyntaxVersionNumber" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="simple:Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sender identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="simple:Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="simple:DatePrepType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="simple:TimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Interchange control reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient's reference/password" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="simple:Alphanumeric_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient's reference/password qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Application reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Acknowledgement request" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Communications agreement id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Test indicator" />
            <doc:rule name="TR9085" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="tcl_ecs:MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message type" />
            <doc:codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Common access reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumHEA4" type="simple:Alphanumeric_Max22" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocNumHEA5" type="simple:MRNType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TypOfDecHEA24" type="simple:AlphanumericCapitalTypeOfDeclaration">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Type of declaration" />
            <doc:codeList name="TypeOfDeclarationTransitExportProcedures" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDesCodHEA30" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country of destination code" />
            <doc:rule name="TR9121" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDisCodHEA55" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country of dispatch/export code" />
            <doc:rule name="TR9122" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraAtDHEA78" type="simple:Alphanumeric_Max27" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport at departure (exp/trans)" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraAtDHEA78LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport at departure LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConIndHEA96" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Containerised indicator" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AccDatHEA158" type="simple:DateType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Acceptance date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssDatHEA186" type="simple:DateType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Issuing date" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ECSAccDocHEA601" type="simple:LanguageCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="ECS accompanying document language code" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfIteHEA305" type="simple:Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total number of items" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfPacHEA306" type="simple:Numeric_Max7" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total number of packages" />
            <doc:rule name="R105" />
            <doc:rule name="R830" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotGroMasHEA307" type="simple:Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total gross mass" />
            <doc:rule name="R832" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DecSubTimHEA1" type="simple:DateTimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Declaration submitted time" />
            <doc:rule name="R660" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpeCirIndHEA1" type="simple:AlphaCapital1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Specific Circumstance Indicator" />
            <doc:rule name="R839" />
            <doc:codeList name="SpecificCircumstanceIndicator" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TraChaMetOfPayHEA1" type="simple:AlphaCapital1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Transport charges/ Method of Payment" />
            <doc:codeList name="TransportChargesMethodOfPayment" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComRefNumHEA" type="simple:Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commercial Reference Number" />
            <doc:rule name="R876" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (EXPORTER) TRADER =====-->
  <xs:complexType name="TRAEXPEX1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(EXPORTER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamEX17" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumEX122" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodEX123" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitEX124" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouEX125" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGEX" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINEX159" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CONSIGNEE) TRADER =====-->
  <xs:complexType name="TRACONCE1Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNEE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCE17" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCE122" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCE123" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCE124" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCE125" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGCE" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCE159" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== CONTROL RESULT =====-->
  <xs:complexType name="CONRESERSType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CONTROL RESULT" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConResCodERS16" type="simple:AlphanumericCapital2Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Control result code" />
            <doc:codeList name="ControlResult" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatLimERS69" type="simple:DateType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date limit" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== SEALS INFO =====-->
  <xs:complexType name="SEAINFSLIType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="SEALS INFO" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SeaNumSLI2" type="simple:Numeric_Max4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Seals number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SEAIDSID" type="complex_ecs:SEAIDSIDType" minOccurs="0" maxOccurs="9999">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="SEALS ID" />
            <doc:condition name="C569" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== GOODS ITEM =====-->
  <xs:complexType name="GOOITEGDSType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GOODS ITEM" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IteNumGDS7" type="simple:Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Item number" />
            <doc:rule name="R005" />
            <doc:rule name="R007" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23" type="simple:Alphanumeric_Max280">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GroMasGDS46" type="simple:Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Gross mass" />
            <doc:rule name="R832" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetMasGDS48" type="simple:Decimal_11_3">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Net mass" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDisGDS58" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country of dispatch/export code" />
            <doc:rule name="TR9120" />
            <doc:rule name="TR9122" />
            <doc:condition name="C578" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouOfDesGDS59" type="simple:CountryCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country of destination code" />
            <doc:rule name="TR9120" />
            <doc:rule name="TR9121" />
            <doc:condition name="C568" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MetOfPayGDI12" type="simple:AlphaCapital1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Transport charges/ Method of Payment" />
            <doc:rule name="TR9120" />
            <doc:condition name="C576" />
            <doc:codeList name="TransportChargesMethodOfPayment" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProReqGDI1" type="simple:AlphanumericCapital2Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Procedure requested" />
            <doc:codeList name="ProcedureRequested" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreProGDI1" type="simple:AlphanumericCapital2Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Previous Procedure" />
            <doc:codeList name="PreviousProcedure" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComNatProGIM1" type="simple:AlphanumericCapital3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Community / National Procedure" />
            <doc:rule name="R858" />
            <doc:codeList name="CommunityNationalProcedure" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StaValCurGDI1" type="simple:AlphaCapital3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Statistical value currency" />
            <doc:codeList name="CurrencyCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StaValAmoGDI1" type="simple:Decimal_15_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Statistical value amount" />
            <doc:rule name="R021" />
            <doc:condition name="C028" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComRefNumGIM1" type="simple:Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commercial Reference Number" />
            <doc:rule name="R876" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UNDanGooCodGDI1" type="simple:Numeric_4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="UN dangerous goods code" />
            <doc:codeList name="UnDangerousGoodsCode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PREADMREFAR2" type="ie:PREADMREFAR2Type" minOccurs="0" maxOccurs="9">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PREVIOUS ADMINISTRATIVE REFERENCES" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PRODOCDC2" type="ie:PRODOCDC2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SPEMENMT2" type="ie:SPEMENMT2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="SPECIAL MENTIONS" />
            <doc:rule name="R080" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONEX2" type="ie:TRACONEX2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(EXPORTER) TRADER" />
            <doc:condition name="C510" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="COMCODGODITM" type="ie:COMCODGODITMType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CODE) COMMODITY" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TRACONCE2" type="ie:TRACONCE2Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CONSIGNEE) TRADER" />
            <doc:rule name="R011" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CONNR2" type="ie:CONNR2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="CONTAINERS" />
            <doc:condition name="C055" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PACGS2" type="ie:PACGS2Type" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PACKAGES" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PREVIOUS ADMINISTRATIVE REFERENCES =====-->
  <xs:complexType name="PREADMREFAR2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PREVIOUS ADMINISTRATIVE REFERENCES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PreDocTypAR21" type="simple:AlphanumericCapitalMax6Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Previous document type" />
            <doc:rule name="R079" />
            <doc:rule name="R893" />
            <doc:rule name="TR0100" />
            <doc:codeList name="PreviousDocumentTypeCommon" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocRefAR26" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Previous document reference" />
            <doc:rule name="R893" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreDocRefLNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Previous document reference LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PRODUCED DOCUMENTS/CERTIFICATES =====-->
  <xs:complexType name="PRODOCDC2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocTypDC21" type="simple:Alphanumeric_Max4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document type" />
            <doc:rule name="R079" />
            <doc:rule name="TR0103" />
            <doc:codeList name="DocumentTypeCommon" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDC23" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDCLNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== SPECIAL MENTIONS =====-->
  <xs:complexType name="SPEMENMT2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="SPECIAL MENTIONS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddInfCodMT23" type="simple:Alphanumeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Additional information coded" />
            <doc:rule name="TR0101" />
            <doc:codeList name="AdditionalInformationIdCommon" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TexSPM1" type="simple:Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Text" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TexSPM1LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Text LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (EXPORTER) TRADER =====-->
  <xs:complexType name="TRACONEX2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(EXPORTER) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamEX27" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumEX222" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodEX223" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitEX224" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouEX225" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGGTEX" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINEX259" type="simple:TINType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CODE) COMMODITY =====-->
  <xs:complexType name="COMCODGODITMType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CODE) COMMODITY" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ComNomCMD1" type="simple:NumericMin4Max8Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Combined Nomenclature" />
            <doc:rule name="TR1008" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TARCodCMD1" type="simple:Alphanumeric_2">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TARIC code" />
            <doc:rule name="R868" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TARFirAddCodCMD1" type="simple:Alphanumeric_4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TARIC first additional code" />
            <doc:rule name="R869" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TARSecAddCodCMD1" type="simple:Alphanumeric_4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TARIC second additional code" />
            <doc:rule name="R869" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NAtAddCodCMD1" type="simple:Alphanumeric_4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="National additional code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CONSIGNEE) TRADER =====-->
  <xs:complexType name="TRACONCE2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CONSIGNEE) TRADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="NamCE27" type="simple:TradNameType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Name" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StrAndNumCE222" type="simple:StreetNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Street and number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PosCodCE223" type="simple:PostalCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Postal code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CitCE224" type="simple:CityType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="City" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CouCE225" type="simple:CountryCodeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Country code" />
            <doc:codeList name="CountryCodesFullList" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NADLNGGICE" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="NAD LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TINCE259" type="simple:TINType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TIN" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== CONTAINERS =====-->
  <xs:complexType name="CONNR2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CONTAINERS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConNumNR21" type="simple:Alphanumeric_Max17">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Container number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PACKAGES =====-->
  <xs:complexType name="PACGS2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PACKAGES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarNumOfPacGS21" type="simple:Alphanumeric_Max42" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Marks &amp; numbers of packages" />
            <doc:condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarNumOfPacGS21LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Marks &amp; numbers of packages LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KinOfPacGS23" type="simple:Alphanumeric_2">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Kind of packages" />
            <doc:codeList name="KindOfPackages" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPacGS24" type="simple:Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Number of packages" />
            <doc:rule name="R021" />
            <doc:rule name="TR0022" />
            <doc:condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPieGS25" type="simple:Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Number of pieces" />
            <doc:condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

