dmsComponentsTest/src/main/resources/wsdls/99 Assembled adapters 3.2.8.11/DMS.core Exit Management/xsd/CD518B.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ie="http://ecs.dgtaxud.ec/CD518B" xmlns:complex_ecs="http://ecs.dgtaxud.ec/complex_ecs" xmlns:simple_ecs="http://ecs.dgtaxud.ec/simple_ecs" xmlns:tcl_ecs="http://ecs.dgtaxud.ec/tcl_ecs" xmlns:simple="http://ecs.dgtaxud.ec/simple" xmlns:tcl="http://ecs.dgtaxud.ec/tcl" xmlns:doc="http://ecs.dgtaxud.ec/doc" targetNamespace="http://ecs.dgtaxud.ec/CD518B" attributeFormDefault="unqualified" elementFormDefault="unqualified" version="40.20">
  <!--=========================================-->
  <!--===== IE518:C_EXT_RES  -->
  <!--===== EXIT RESULTS  -->
  <!--===== ECS P2 Phase Definition  -->
  <!--===== DDNXA 11.00  -->
  <!--===== XSD version v40.20  -->
  <!--===== Aligned with RFC-List version 0.29-->
  <!--=========================================-->
  <!--===== Imports =====-->
  <xs:import namespace="http://ecs.dgtaxud.ec/doc" schemaLocation="doc.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/complex_ecs" schemaLocation="complex_types_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/simple_ecs" schemaLocation="simple_types_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/tcl_ecs" schemaLocation="tcl_ecs.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/simple" schemaLocation="simple_types.xsd" />
  <xs:import namespace="http://ecs.dgtaxud.ec/tcl" schemaLocation="tcl.xsd" />
  <!--===== Root Element =====-->
  <xs:element name="CD518B" type="ie:CD518BType" />
  <!--===== Root Element Content =====-->
  <xs:complexType name="CD518BType">
    <xs:sequence>
      <xs:group ref="ie:MESSAGE" />
      <xs:element name="HEAHEA" type="ie:HEAHEAType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="HEADER" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CUSOFFEXPERT" type="complex_ecs:CUSOFFEXPERTType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(EXPORT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ACEACE" type="ie:ACEACEType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(ACTUAL EXIT) CUSTOMS OFFICE" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CONRESEXR" type="complex_ecs:CONRESEXRType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="EXIT CONTROL RESULT" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RESOFCON534" type="ie:RESOFCON534Type" minOccurs="0" maxOccurs="9">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="RESULTS OF CONTROL" />
            <doc:rule name="TR0004" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GOOITEGDS" type="ie:GOOITEGDSType" minOccurs="0" maxOccurs="9999">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="GOODS ITEM" />
            <doc:rule name="R355" />
            <doc:rule name="TR0007" />
            <doc:rule name="TR0011" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== MESSAGE Content =====-->
  <xs:group name="MESSAGE">
    <xs:sequence>
      <xs:element name="SynIdeMES1" type="tcl_ecs:SyntaxIdentifier">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Syntax identifier" />
            <doc:codeList name="SyntaxIdentifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SynVerNumMES2" type="tcl_ecs:SyntaxVersionNumber">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Syntax version number" />
            <doc:codeList name="SyntaxVersionNumber" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesSenMES3" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message sender" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SenIdeCodQuaMES4" type="simple:Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Sender identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesRecMES6" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message recipient" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecIdeCodQuaMES7" type="simple:Alphanumeric_Max4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient identification code qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DatOfPreMES9" type="simple:DatePrepType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Date of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimOfPreMES10" type="simple:TimeType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Time of preparation" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntConRefMES11" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Interchange control reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefMES12" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient's reference/password" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecRefQuaMES13" type="simple:Alphanumeric_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Recipient's reference/password qualifier" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AppRefMES14" type="simple:Alphanumeric_Max14" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Application reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PriMES15" type="simple:Alpha_1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Priority" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AckReqMES16" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Acknowledgement request" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAgrIdMES17" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Communications agreement id" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TesIndMES18" type="tcl:Flag" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Test indicator" />
            <doc:rule name="TR9085" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesIdeMES19" type="simple:Alphanumeric_Max14">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message identification" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MesTypMES20" type="tcl_ecs:MessageTypes">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Message type" />
            <doc:codeList name="MessageTypes" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComAccRefMES21" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Common access reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <!--===== HEADER =====-->
  <xs:complexType name="HEAHEAType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="HEADER" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocNumHEA5" type="simple:MRNType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document/reference number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraAtDHEA78" type="simple:Alphanumeric_Max27" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport at departure (exp/trans)" />
            <doc:rule name="TR0002" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IdeOfMeaOfTraAtDHEA78LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Identity of means of transport at departure LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfIteHEA305" type="simple:Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total number of items" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotNumOfPacHEA306" type="simple:Numeric_Max7" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total number of packages" />
            <doc:rule name="TR0002" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TotGroMasHEA307" type="simple:Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Total gross mass" />
            <doc:rule name="TR0002" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SpeCirIndHEA1" type="simple:AlphaCapital1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Specific Circumstance Indicator" />
            <doc:rule name="TR0002" />
            <doc:codeList name="SpecificCircumstanceIndicator" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TraChaMetOfPayHEA1" type="simple:AlphaCapital1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Transport charges/ Method of Payment" />
            <doc:rule name="TR0002" />
            <doc:codeList name="TransportChargesMethodOfPayment" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TraHEA1" type="tcl:Flag">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Transit" />
            <doc:rule name="R852" />
            <doc:codeList name="Flag" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComRefNumHEA" type="simple:Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commercial Reference Number" />
            <doc:rule name="TR0002" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (ACTUAL EXIT) CUSTOMS OFFICE =====-->
  <xs:complexType name="ACEACEType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(ACTUAL EXIT) CUSTOMS OFFICE" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="RefNumACE1" type="simple:CORefNumType">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Reference number" />
            <doc:rule name="TR0063" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== RESULTS OF CONTROL =====-->
  <xs:complexType name="RESOFCON534Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="RESULTS OF CONTROL" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DesTOC2" type="simple:Alphanumeric_Max140" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Description" />
            <doc:rule name="TR0006" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DesTOC2LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Description LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ConInd424" type="simple:AlphanumericCapital2Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Control indicator" />
            <doc:rule name="TR0003" />
            <doc:codeList name="ControlIndicatorRocGiRoc" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PoiToTheAttTOC5" type="simple:Alphanumeric_Max35" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Pointer to the attribute" />
            <doc:rule name="TR0005" />
            <doc:rule name="TR0911" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CorValTOC4" type="simple:Alphanumeric_Max27" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Corrected value" />
            <doc:rule name="R150" />
            <doc:rule name="TR0005" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== GOODS ITEM =====-->
  <xs:complexType name="GOOITEGDSType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="GOODS ITEM" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IteNumGDS7" type="simple:Numeric_Max5">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Item number" />
            <doc:rule name="TR0019" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23" type="simple:Alphanumeric_Max280" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GooDesGDS23LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Goods description LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GroMasGDS46" type="simple:Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Gross mass" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NetMasGDS48" type="simple:Decimal_11_3" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Net mass" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MetOfPayGDI12" type="simple:AlphaCapital1Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Transport charges/ Method of Payment" />
            <doc:condition name="C576" />
            <doc:codeList name="TransportChargesMethodOfPayment" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StaValCurGDI1" type="simple:AlphaCapital3Type" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Statistical value currency" />
            <doc:codeList name="CurrencyCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StaValAmoGDI1" type="simple:Decimal_15_2" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Statistical value amount" />
            <doc:rule name="R021" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ComRefNumGIM1" type="simple:Alphanumeric_Max70" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Commercial Reference Number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UNDanGooCodGDI1" type="simple:Numeric_4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="UN dangerous goods code" />
            <doc:codeList name="UnDangerousGoodsCode" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PRODOCDC2" type="ie:PRODOCDC2Type" minOccurs="0" maxOccurs="999">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES" />
            <doc:rule name="TR0008" />
            <doc:rule name="TR0554" />
            <doc:condition name="C554" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RESOFCONROC" type="complex_ecs:RESOFCONROCType" minOccurs="0" maxOccurs="199">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="RESULTS OF CONTROL" />
            <doc:rule name="TR0012" />
            <doc:rule name="TR0014" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="COMCODGODITM" type="ie:COMCODGODITMType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="(CODE) COMMODITY" />
            <doc:rule name="TR0008" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CONNR2" type="ie:CONNR2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="CONTAINERS" />
            <doc:rule name="TR0008" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PACGS2" type="ie:PACGS2Type" minOccurs="0" maxOccurs="99">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="PACKAGES" />
            <doc:rule name="TR0008" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PRODUCED DOCUMENTS/CERTIFICATES =====-->
  <xs:complexType name="PRODOCDC2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PRODUCED DOCUMENTS/CERTIFICATES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocTypDC21" type="simple:Alphanumeric_Max4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document type" />
            <doc:rule name="R079" />
            <doc:rule name="TR0103" />
            <doc:codeList name="DocumentTypeCommon" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDC23" type="simple:Alphanumeric_Max35">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DocRefDCLNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Document reference LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== (CODE) COMMODITY =====-->
  <xs:complexType name="COMCODGODITMType">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="(CODE) COMMODITY" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ComNomCMD1" type="simple:NumericMin4Max8Type">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Combined Nomenclature" />
            <doc:rule name="TR1008" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TARCodCMD1" type="simple:Alphanumeric_2">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TARIC code" />
            <doc:rule name="R868" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TARFirAddCodCMD1" type="simple:Alphanumeric_4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TARIC first additional code" />
            <doc:rule name="R869" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TARSecAddCodCMD1" type="simple:Alphanumeric_4">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="TARIC second additional code" />
            <doc:rule name="R869" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NAtAddCodCMD1" type="simple:Alphanumeric_4" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="National additional code" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== CONTAINERS =====-->
  <xs:complexType name="CONNR2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="CONTAINERS" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ConNumNR21" type="simple:Alphanumeric_Max17">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Container number" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <!--===== PACKAGES =====-->
  <xs:complexType name="PACGS2Type">
    <xs:annotation>
      <xs:documentation>
        <doc:description value="PACKAGES" />
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MarNumOfPacGS21" type="simple:Alphanumeric_Max42" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Marks &amp; numbers of packages" />
            <doc:condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarNumOfPacGS21LNG" type="simple:LanguageCodeType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Marks &amp; numbers of packages LNG" />
            <doc:rule name="TR0099" />
            <doc:codeList name="LanguageCodes" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="KinOfPacGS23" type="simple:Alphanumeric_2">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Kind of packages" />
            <doc:codeList name="KindOfPackages" type="business" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPacGS24" type="simple:Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Number of packages" />
            <doc:rule name="R021" />
            <doc:condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NumOfPieGS25" type="simple:Numeric_Max5" minOccurs="0">
        <xs:annotation>
          <xs:documentation>
            <doc:description value="Number of pieces" />
            <doc:condition name="C060" />
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>

