dmsComponentsTest/src/main/resources/wsdls/99 Assembled adapters 3.2.8.11/DMS.core Quota/QuotaManagementServiceInboundSOAP_v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
                  name="QuotaManagementServiceInboundSOAP" 
                  targetNamespace="http://tariff.core.ecf/QuotaManagementServiceInboundSOAP/v2/" 
                  xmlns:tns="http://tariff.core.ecf/QuotaManagementServiceInboundSOAP/v2/" 
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:documentation>
    <version>2.0</version>
  </wsdl:documentation>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tariff.core.ecf/QuotaManagementServiceInboundSOAP/v2/" xmlns:xsd_1="http://tariff.core.ecf/messages/2017/01/30/">
      <xsd:import namespace="http://tariff.core.ecf/messages/2017/01/30/" schemaLocation="messages_20170130/messages.xsd"/>
      <xsd:element name="notifyQuotasForDeclaration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tariffQuotaResponse" type="xsd_1:TariffQuotaResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="receiveTariffQuotaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tariffQuotaResponse" type="xsd_1:TariffQuotaResponse"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="notifyQuotasForDeclarationRequest">
    <wsdl:part element="tns:notifyQuotasForDeclaration" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="receiveTariffQuotaResponseRequest">
    <wsdl:part element="tns:receiveTariffQuotaResponse" name="parameters"/>
  </wsdl:message>
  
  <wsdl:portType name="QuotaManagementServiceInboundSOAPJms">
    <wsdl:operation name="notifyQuotasForDeclaration">
      <wsdl:input message="tns:notifyQuotasForDeclarationRequest"/>
    </wsdl:operation>
    <wsdl:operation name="receiveTariffQuotaResponse">
      <wsdl:input message="tns:receiveTariffQuotaResponseRequest"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="QuotaManagementInboundBindingJms" type="tns:QuotaManagementServiceInboundSOAPJms">
    <soap:binding style="document" transport="http://www.w3.org/2010/soapjms/"/>
    <wsdl:operation name="notifyQuotasForDeclaration">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="receiveTariffQuotaResponse">
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="QuotaManagementServiceInboundSOAP">
    <wsdl:port binding="tns:QuotaManagementInboundBindingJms" name="QuotaManagementInboundPortJms">
      <soap:address location="jms:jndi:destinationName"/>
    </wsdl:port>
  </wsdl:service>   
</wsdl:definitions>
